# Node
node_modules/
npm-debug.log
yarn-error.log

# Build / Dev
dist/
.build/
.env
.vscode/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Misc
*.env.local
coverage/
